<footer>
    <div>
        <div class="max-w-screen-xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
          <nav class="-mx-5 -my-2 flex flex-wrap justify-center">
            <div class="px-5 py-2">
              <a href="#" class="text-base leading-6 text-gray-100 hover:text-gray-900">
                About this project
              </a>
            </div>
            <div class="px-5 py-2">
              <a href="#" class="text-base leading-6 text-gray-100 hover:text-gray-900">
                Github
              </a>
            </div>
            <div class="px-5 py-2">
              <a href="#" class="text-base leading-6 text-gray-100 hover:text-gray-900">
                Hire Me
              </a>
            </div>
            <div class="px-5 py-2">
              <a href="#" class="text-base leading-6 text-gray-100 hover:text-gray-900">
                LinkedIn
              </a>
            </div>
          </nav>
          <div class="mt-8 flex justify-center">
            <a href="#" class="text-gray-200 hover:text-gray-500">
              <span class="sr-only">Facebook</span>
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="ml-6 text-gray-200 hover:text-gray-500">
              <span class="sr-only">Instagram</span>
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="ml-6 text-gray-200 hover:text-gray-500">
              <span class="sr-only">Twitter</span>
             <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="ml-6 text-gray-200 hover:text-gray-500">
              <span class="sr-only">GitHub</span>
              <i class="fab fa-github"></i>
            </a>
            <a href="#" class="ml-6 text-gray-200 hover:text-gray-500">
              <span class="sr-only">Dribbble</span>
              <i class="fab fa-dribbble"></i>
            </a>
          </div>
          <div class="mt-8">
            <h5 class="text-center text-base leading-6 text-gray-400">
              &copy; 2020 Omkar Kulkarni, Inc. All rights reserved.
            </h5>
          </div>
        </div>
      </div>
</footer>
  <!-- Footer End -->
    <script src='/js/index.js'></script>
    <script>
        console.log('footer loaded');
    </script>
</body>
</html>