
<% if(success_msg!= ''){ %>
    <p>
        <%= success_msg %> 
    </p>
<% } %> 

<% if(error_msg!= ''){ %>
    <p>
        <%= error_msg %> 
    </p>
<% } %> 

<% if(error!= ''){ %>
    <p>
        <%= error %> 
    </p>
<% } %> 