<%- include('partials/header') %>

<!-- Dashboard Structure -->
<!-- Navigation Bar -->
<!-- Nav-brand -->
<!-- Nav-search-bar -->
<!-- Big landing showing time and date and an image -->
<!-- Task cards  -->
<!-- Footer with a Fab button and having a plus button -->
<section class="wrapper-main">
    <!-- Sidebar -->
    <div id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
        <a href="#"><i class="far fa-home"></i><span class="icon-text">Dashboard</span></a>
        <a href="#"><i class="far fa-users"></i><span class="icon-text">Team</span></a>
        <a href="#"><i class="far fa-folders"></i><span class="icon-text">Projects</span></a>
        <a href="#"><i class="far fa-calendar-alt"></i><span class="icon-text"> Calender</span></a>
        <a href="#"><i class="far fa-file"></i><span class="icon-text"> Documents</span></a>
        <a href="#"><i class="far fa-chart-bar"></i><span class="icon-text">Reports</span></a>
      </div>
    <!-- Main Section -->
    <section class="main-section">
        <section class="dashboard-header">
            <div class="search-bar">
                <i class="far fa-search"></i>
            </div>
        </section>
        <a href="/user/logout">Logout krle <%= user.name%> </a>
    </section>
</section>


<%- include('partials/notification') %>

<%- include('partials/footer') %>
