<%- include('partials/header') %>
<section class="main">
  <header>
    <nav class="navigation">
      <!-- Logo goes here -->
      <h3 class="logo">InTask</h3>
      <ul>
            <li>Explore</li>
            <li><a href="user/login">Login</a> </li>
            <li class="btnYellow"><a href="user/register">Signup</a></li>
        </ul>
    </nav>
  </header>
      <section class="hero">
        <h1>Manage Your Task.</h1>
        <p>Get ahead of your deadlines by working in a proper way with InTask. Create, manage and track your progress of tasks only using secured platform InTask.</p>
        <div class="btn-wrapper">
          <button class="btn-dark"><i class="fal fa-telescope"></i> Discover</button>
          <button class="btn-light"><i class="fal fa-sign-in"></i> <a href="/user/login">Login</a></button>
        </div>
      </section>
</section>

<!-- Section2 -->
<section class="section2 features-content">
  <div class="feature-row">
    <div class="left w-full sm:w-1/2">
      <p class="landing-text-light"><i class="fas fa-bolt" style="margin-right: 0.5rem;"></i> Supercharge your notes</p>
      <h3 class="landing-text-header">Save and manage your notes</h3>
      <p class="landing-subtext">With easy interface, it's a seconds work to create and save your notes/tasks in our secured cloud platform powered by MongoDB®. Retrieving notes is as easy as logging in !</p>
    </div>
    <div class="right w-full sm:w-1/2">
      <img src="/img/illustration_activities@2x.png" alt="">
    </div>
  </div>
</section>

<!-- Section 3 -->
<section class="section2 features-content">
  <div class="feature-row">
    <div class="right w-full sm:w-1/2">
      <img src="/img/illustration_communities@2x.png" alt="">
    </div>
    <div class="left w-full sm:w-1/2">
      <p class="landing-text-light"><i class="fas fa-users" style="margin-right: 0.5rem;"></i> Upgrade the team game</p>
      <h3 class="landing-text-header">Find people and collaborate</h3>
      <p class="landing-subtext">Connect with your team rightaway and collaborate like never before. This feature is coming soon.</p>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
