<%- include('partials/header') %>
  <header id="top" class="w-full flex nav-sticky flex-col sm:sticky bg-white pin-t pin-r pin-l">
    <nav id="site-menu" class="flex flex-col sm:flex-row w-full justify-between items-center px-4 sm:px-6 py-1 bg-white shadow sm:shadow-none">
      <div class="w-full  sm:w-auto self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap justify-between items-center py-3">
        <a href="#" class="no-underline py-1 logo"><h3>InTask</h3></a>
        <button id="menuBtn" class="hamburger block sm:hidden focus:outline-none open" type="button" onclick="navToggle();">
          <i id="menuIcon" class="fas fa-bars"></i>
        </button>
      </div>
      <div id="menu" class=" sm:w-auto self-start sm:self-center sm:flex flex-col sm:flex-row items-center h-full py-1 pb-4 sm:py-0 sm:pb-0 hidden">
        <a class="text-lg no-underline sm:w-auto sm:pr-4 mx-2 py-2 sm:py-1 sm:pt-2" href="#" target="_blank">Explore</a>
        <a class="  text-lg no-underline sm:w-auto sm:pr-4 mx-2 py-2 sm:py-1 sm:pt-2" href="user/login">Login</a>
        <a class=" btnYellow text-lg no-underline  mx-2 sm:px-4 py-2 sm:py-1 sm:pt-2" href="user/register">Sign Up</a>
      </div>
    </nav>
  </header>
  <!--  -->
<section class="hero">
  <h1>Manage Your Tasks.</h1>
  <p class="text-center">Get ahead of your deadlines by working in a proper way with InTask. Create, manage and track your progress of tasks.</p>
  <div class="btn-wrapper">
    <button class="btn-dark"><i class="fal fa-telescope"></i> Discover</button>
    <button class="btn-light"><i class="fal fa-sign-in"></i> <a href="/user/login">Login</a></button>
  </div>
</section>

<!-- Section2 -->
<section class="section2 features-content">
  <div class="container feature-row flex flex-wrap">
    <div class=" w-full md:w-full sm:w-full lg:w-1/2">
      <p class="landing-text-light lg:text-left text-center"><i class="fas fa-bolt" style="margin-right: 0.5rem;"></i> Supercharge your notes</p>
      <h3 class="landing-text-header lg:text-left sm:text-center">Save and manage your notes</h3>
      <p class="landing-subtext">With easy interface, it's a seconds work to create and save your notes/tasks in our secured cloud platform powered by MongoDB®. Retrieving notes is as easy as logging in !</p>
    </div>
    <div class=" w-full md:w-full sm:w-full lg:w-1/2 ">
      <img src="/img/illustration_activities@2x.png" alt="">
    </div>
  </div>
</section>

<!-- Section 3 -->
<section class="section2 features-content">
  <div class="container feature-row flex flex-wrap">
    <div class=" w-full md:w-full sm:w-full lg:w-1/2">
      <p class="landing-text-light lg:text-left text-center"><i class="fas fa-users" style="margin-right: 0.5rem;"></i> Upgrade the team game</p>
      <h3 class="landing-text-header lg:text-left sm:text-center">Find people and collaborate</h3>
      <p class="landing-subtext">Connect with your team rightaway and collaborate like never before. This feature is coming soon.</p>
    </div>

    <div class=" w-full md:w-full sm:w-full lg:w-1/2 lg:order-first xl:order-first">
      <img src="/img/illustration_communities@2x.png" alt="">
    </div>
  </div>
</section>

<!-- Section 4 -->
<section class="section2 features-content">
  <div class="container feature-row flex flex-wrap">
    <div class="w-full sm:w-full md:w-full lg:w-1/2">
      <p class="landing-text-light lg:text-left text-center"><i class="fas fa-calendar-alt" style="margin-right: 0.5rem;"></i> Never be late again</p>
      <h3 class="landing-text-header lg:text-left sm:text-center">Schedule your work</h3>
      <p class="landing-subtext">Schedule, plan and assign your work on dates by using inbult calender. This is feature is coming soon.</p>
    </div>
    <div class="w-full md:w-full sm:w-full lg:w-1/2">
      <img src="/img/4584.jpg" alt="">
    </div>
  </div>
</section>

<!-- Feature card section START-->
<section class="container features flex flex-col">
  <!-- Features headline  -->
  <h2><i class="fal fa-rocket-launch"></i> Salient Features</h2>
  <!-- Card -->
  <div class="card-grid mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-5">
    <!-- Card1 -->
    <div class="card2 rounded-lg overflow-hidden shadow-lg">
      <img class="w-full" src="https://getbedtimestories.com/assets/images/uploads/story_world/cover/27/large_5ef49b88-601b-4a44-bec7-4fd40db8c8ff-1f8c86fc.jpg?1588602937" alt="">
      <div class="px-6 py-4">
        <div class="mb-2"><h4>A Good feature</h4></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
    </div>
    <!-- Card 2 -->
    <div class="card2 rounded-lg overflow-hidden shadow-lg">
      <img class="w-full" src="https://getbedtimestories.com/assets/images/uploads/story_world/cover/27/large_5ef49b88-601b-4a44-bec7-4fd40db8c8ff-1f8c86fc.jpg?1588602937" alt="">
      <div class="px-6 py-4">
        <div class="mb-2"><h4>A Good feature</h4></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
    </div>
    <!-- Card 3 -->
    <div class="card2 rounded-lg overflow-hidden shadow-lg">
      <img class="w-full" src="https://getbedtimestories.com/assets/images/uploads/story_world/cover/27/large_5ef49b88-601b-4a44-bec7-4fd40db8c8ff-1f8c86fc.jpg?1588602937" alt="">
      <div class="px-6 py-4">
        <div class="mb-2"><h4>A Good feature</h4></div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
        </p>
      </div>
    </div>
  </div>
    
</section>
<!-- Feature card section END-->

<!-- Section promotion -->
<section class="features yellow-bg">
  <h2 class="mb-3"><i class="fal fa-star-shooting"></i> Start your adventure today.</h2>
  <div class="flex justify-center mt-8">
    <button class="btn-light last-btn"><i class="fal fa-telescope"></i> Sign Up</button>
  </div>
</section>









<!-- footer start -->
<footer>
  <div>
      <div class="max-w-screen-xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center">
          <div class="px-5 py-2">
            <a href="#" class=" leading-6 text-gray-100 hover:text-gray-400">
              About this project
            </a>
          </div>
          <div class="px-5 py-2">
            <a href="#" class=" leading-6 text-gray-100 hover:text-gray-400">
              Github
            </a>
          </div>
          <div class="px-5 py-2">
            <a href="#" class=" leading-6 text-gray-100 hover:text-gray-400">
              Hire Me
            </a>
          </div>
          <div class="px-5 py-2">
            <a href="#" class=" leading-6 text-gray-100 hover:text-gray-400">
              LinkedIn
            </a>
          </div>
        </nav>
        <div class="mt-8 flex justify-center">
          <a href="#" class="text-gray-200 hover:text-gray-500">
            <span class="sr-only">Facebook</span>
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" class="ml-6 text-gray-200 hover:text-gray-500">
            <span class="sr-only">Instagram</span>
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="ml-6 text-gray-200 hover:text-gray-500">
            <span class="sr-only">Twitter</span>
           <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="ml-6 text-gray-200 hover:text-gray-500">
            <span class="sr-only">GitHub</span>
            <i class="fab fa-github"></i>
          </a>
          <a href="#" class="ml-6 text-gray-200 hover:text-gray-500">
            <span class="sr-only">Dribbble</span>
            <i class="fab fa-dribbble"></i>
          </a>
        </div>

      </div>
          <div class="py-3 last">
            <h5 class="text-center leading-6 text-gray-400">
              &copy; 2020 Omkar Kulkarni, Inc. All rights reserved.
            </h5>
          </div>
    </div>
</footer>

<%- include('partials/footer') %>
