<%- include('partials/header') %>
<section class="main">
  <header>
    <nav>
      <h3 class="logo">TaskWise</h3>
      <ul>
            <li>Explore</li>
            <li><a href="user/login">Login</a> </li>
            <li class="btnYellow"><a href="user/register">Signup</a></li>
        </ul>
    </nav>
  </header>
      <section class="hero">
        <h1>Manage Your Task.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae deleniti saepe alias neque accusantium esse eos quidem maiores aut quia?</p>
        <div class="btn-wrapper">
          <button class="btn-dark"><i class="fal fa-telescope"></i> Discover</button>
          <button class="btn-light"><i class="fal fa-sign-in"></i> Login</button>
        </div>
      </section>
</section>


<section class="section2">
    <div class="container">
        <div class="left">
            <h1>Focus on stuff that matters</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus totam perferendis temporibus aut saepe. Libero illo veritatis porro reprehenderit nisi deleniti, ad quibusdam! Reiciendis, delectus officia non sunt illo est.</p>
        </div>
        <div class="right">
            <img src="img/cs.png" alt="">
        </div>
    </div>
</section>





<%- include('partials/footer') %>
