/*1. Importing SCSS Partials*/
/*2. Importing Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import 'partials/font';
@import 'partials/landing';
@import 'partials/login';
@import 'partials/register';
@import 'partials/dashboard';
/*3. Fixed class for flex and grid*/  
/*4. Global Styling*/ 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // Debug code
    // border: 1px solid red;
}

/*5. SCSS Root Variables and Color Scheme*/ 
:root{
    /* Define Colors as colors */
    --green:#00ebc7;
    --red:#ff5470;
    --yellow:#fde24f;
    --black:#1b2d45;
    --darkBlue:#00214d;
    --grey:#bfbfbf;
    --lightGrey:#f2f4f6;
    --white:#fff;
    --lightest-blue : #00cffd;
    --light-blue:#2fb5fc;
    --blue:#8352fd;
    --darkBlue:#3913b8;
    --neutraldark:#1a2151;
    --neutralLight:#e3e8ff;
    --offblue:#f2f6ff;
    /* Define Colors as intensions */
    --primary:var(--blue);
    --secondary:var(--lightest-blue);
    --danger:var(--red);
    --background:var(--offblue);
    --textColor:var(--black);
    --lineColor:var(--grey);
    --cardBg:var(--white);
    /* Styles */
    --line:solid 1px var(--lineColor);

    /* Type */
    --headingFont:'Quicksand', sans-serif;
    --bodyFont:"Inter", sans-serif;
    --baseFontSize:100%;
    --h1:3.052em;
    --h2:2.441em;
    --h3:1.953em;
    --h4:1.563em;
    --h5:1.25em;
    --smallText:0.8em;

    /* Elevation */
    --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --level-4:0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    /* Positioning  */
    --containerPadding:2.5%;
    --headerHeight:3rem;
}
html{
    font-size:var(--baseFontSize);
}
body{
    font-family: var(--bodyFont);
    // background: var(--background);
    color: var(--textColor);
}


h1,
h2,
h3,
h4,
h5{
    // margin: 2.75rem 0 1.05rem;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.15;
}
h1{
    margin-top: 0;
    font-size: var(--h1);
}
h2{
    font-size: var(--h2);
}
h3{
    font-size: var(--h3);
}
h4{
    font-size: var(--h4);
}
h5{
    font-size: var(--h5);
}
small,
.text-small{
    font-size: var(--smallText);
}
p{
    // margin-bottom: 1.15rem;
    font-family: var(--headingFont);
    max-width: 40em;
}
button{
    // --buttonColor:var(--lightGrey);
    appearance: none;
    color: var(--textColor);
    background-color: var(--buttonColor);
    border: none;
    padding: 0 var(--containerPadding);
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 1.3rem;
    box-shadow: var(--level-1);
    font-weight: 400;
    font-family: var(--bodyFont);
    transition: 0.3s ease-in-out box-shadow;
    transition: 0.3s ease-in-out transform;
    cursor: pointer;
}
button:hover{
    box-shadow: var(--level-2);
    transform: translateY(-3px);
}
button[disabled]{
    opacity: 0.4;
}
.container{
    max-width: 1200px;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
}

.btn-small{
    padding: 0;
    box-shadow: none;
    background-color: white;
    transition: none;
    border: none;
    font-size: 1rem;

    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
}
.btn-small:hover{
    background-color: var(--lightGrey);
    transform: none;
    box-shadow: none;
}