/*1. Importing SCSS Partials*/
/*2. Importing Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
/** WARNING - USE AT OWN RISK */
/** IT IS AGAINST APPLE'S POLICY TO USE SF PRO FOR ANYTHING OTHER THAN iOS/tvOS/macOS/watchOS DESIGN & DEVELOPMENT */
/** https://sf.abarba.me/font.css */
/** https://sf.abarba.me/LICENSE.pdf */
/** 1. Copy/import this file into your main css/scss file */
/** 2. Change css font-family: to "SF Text", "SF Display" or "SF Mono" */
/** 3. Apply font-weight or italic to html elements */
/** THANK YOU */
/** I host these fonts on Cloudfront with SSL in all AWS regions for the best performance and reliability */
/** If you'd like to help offset costs, I'd very much appreciate a donation via Lisk https://lisk.io */
/** Address: 14987768355736502769L */
/** Delegate: andrew */
/*---------------------------------------------------------------------------*
 * SF UI Display
 *---------------------------------------------------------------------------*/
/** Black */
@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("https://sf.abarba.me/SF-UI-Display-Black.otf");
}

/** Bold */
@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf");
}

/** Light */
@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}

/** Medium */
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}

/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
}

/** Thin */
@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf");
}

/** Ultralight */
@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf");
}

/*---------------------------------------------------------------------------*
   * SF UI Text
   *---------------------------------------------------------------------------*/
/** Bold */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Text-Bold.otf");
}

/** Bold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-BoldItalic.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Text-Heavy.otf");
}

/** Heavy Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf");
}

/** Light */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Text-Light.otf");
}

/** Light Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-LightItalic.otf");
}

/** Medium */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Text-Medium.otf");
}

/** Medium Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-MediumItalic.otf");
}

/** Regular */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");
}

/** Regular Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-RegularItalic.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Text-Semibold.otf");
}

/** Semibold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-SemiboldItalic.otf");
}

/** Ultrathin */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Text-Ultrathin.otf");
}

/** Ultrathin Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-UltrathinItalic.otf");
}

/*---------------------------------------------------------------------------*
   * SF Mono
   *---------------------------------------------------------------------------*/
/** Bold */
@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  src: url("https://sf.abarba.me/SFMono-Bold.otf");
}

/** Bold Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-BoldItalic.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  src: url("https://sf.abarba.me/SFMono-Heavy.otf");
}

/** Heavy Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-HeavyItalic.otf");
}

/** Light */
@font-face {
  font-family: "SF Mono";
  font-weight: 200;
  src: url("https://sf.abarba.me/SFMono-Light.otf");
}

/** Light Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 200;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-LightItalic.otf");
}

/** Medium */
@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  src: url("https://sf.abarba.me/SFMono-Medium.otf");
}

/** Medium Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-MediumItalic.otf");
}

/** Regular */
@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  src: url("https://sf.abarba.me/SFMono-Regular.otf");
}

/** Regular Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-RegularItalic.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  src: url("https://sf.abarba.me/SFMono-Semibold.otf");
}

/** Semibold Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-SemiboldItalic.otf");
}

header {
  padding: 2rem 4rem;
  margin: 0 auto;
  height: 8vh;
}

nav {
  font-family: var(--headingFont);
  color: var(--neutraldark);
  font-weight: 500;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  font-size: 1.1rem;
  cursor: pointer;
  margin: 0 2rem;
  list-style: none;
}

.logo {
  color: black;
  font-family: inherit;
}

.btnYellow {
  background-color: var(--yellow);
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
  color: var(--neutraldark);
}

.main {
  background-image: url("../../img/Waimakariri.svg");
}

.hero {
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero h1 {
  font-family: 'Product Sans',sans-serif;
  font-weight: 900;
  font-size: 5rem;
  color: var(--neutraldark);
  margin-top: -5rem;
  margin-bottom: 2.5rem;
}

.hero p {
  margin-bottom: 2.5rem;
}

.btn-dark {
  background-color: var(--darkBlue);
  color: var(--lightGrey);
  margin-right: 2rem;
}

.btn-light {
  background-color: var();
}

.btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2 {
  margin: 5rem auto;
}

.section2 .right img {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.section2 .left {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section2 .left h1 {
  font-family: 'Product Sans';
}

.section2 .left p {
  text-align: left;
  margin-top: 2rem;
}

* {
  margin: 0;
  padding: 0;
}

section.login {
  background-image: url("../../img/Mataura.svg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  background-color: #F2F7FE;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 0.6fr;
      grid-template-columns: 0.4fr 0.6fr;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 2.3rem;
  border-radius: 25px;
  overflow: hidden;
}

.box-left {
  background-color: red;
}

.box-left img {
  display: block;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.box-right {
  max-width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box-right h1 {
  font-family: var(--bodyFont);
  font-weight: 700;
}

.box {
  background-color: white;
  padding: 30px;
  padding-top: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.box p {
  margin: 0;
}

.box-blue {
  background-color: var(--blue);
  padding: 15px;
  color: var(--lightGrey);
  font-family: 'Product Sans',sans-serif;
  font-size: 1.6rem;
}

input {
  display: block;
  width: 100%;
  padding: 15px 25px;
  font-family: 'Poppins',sans-serif;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  border: 1.2px solid #b9b6d3;
}

input:active {
  border: 1px solid #3e3c49;
  outline: none;
}

.form-control {
  position: relative;
  margin-bottom: 30px;
}

.form-control small {
  position: absolute;
  text-align: right;
  /* display: none; */
  bottom: -20px;
  font-weight: 600;
  opacity: 1;
  right: 0;
  color: #ff7a7a;
}

.btn-green {
  background-color: var(--green);
  width: 100%;
}

button {
  background-color: var(--green);
  display: block;
  padding: 15px 25px;
  border: 1px solid #2fb67c;
  font-weight: 500;
  font-size: 14px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button:focus {
  outline: none;
}

button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

small {
  color: #bbb;
  display: block;
  font-size: 11px;
  margin-top: 15px;
  font-weight: 500;
}

small a {
  color: #ff7a7a;
  text-decoration: none;
  font-weight: 600;
}

/* Media */
@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    max-width: 100%;
  }
  .wrapper form {
    margin-bottom: 0;
  }
  .wrapper .box {
    background-color: var(--lightGrey);
  }
  .wrapper .box-blue {
    background-color: var(--blue);
  }
  .wrapper .box-right {
    max-width: 100%;
    height: 100%;
  }
  .wrapper .box-left {
    display: none;
  }
}

label {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

/*3. Fixed class for flex and grid*/
/*4. Global Styling*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*5. SCSS Root Variables and Color Scheme*/
:root {
  /* Define Colors as colors */
  --green:#00ebc7;
  --red:#ff5470;
  --yellow:#fde24f;
  --black:#1b2d45;
  --darkBlue:#00214d;
  --grey:#bfbfbf;
  --lightGrey:#f2f4f6;
  --white:#fff;
  --lightest-blue: #00cffd;
  --light-blue:#2fb5fc;
  --blue:#8352fd;
  --darkBlue:#3913b8;
  --neutraldark:#1a2151;
  --neutralLight:#e3e8ff;
  --offblue:#f2f6ff;
  /* Define Colors as intensions */
  --primary:var(--blue);
  --secondary:var(--lightest-blue);
  --danger:var(--red);
  --background:var(--offblue);
  --textColor:var(--black);
  --lineColor:var(--grey);
  --cardBg:var(--white);
  /* Styles */
  --line:solid 1px var(--lineColor);
  /* Type */
  --headingFont:'Product Sans', sans-serif;
  --bodyFont:"Inter", sans-serif;
  --baseFontSize:100%;
  --h1:3.052em;
  --h2:2.441em;
  --h3:1.953em;
  --h4:1.563em;
  --h5:1.25em;
  --smallText:0.8em;
  /* Elevation */
  --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --level-4:0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  /* Positioning  */
  --containerPadding:2.5%;
  --headerHeight:3rem;
}

html {
  font-size: var(--baseFontSize);
}

body {
  font-family: var(--bodyFont);
  background: var(--background);
  color: var(--textColor);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

small,
.text-small {
  font-size: var(--smallText);
}

p {
  margin-bottom: 1.15rem;
  max-width: 30em;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: var(--textColor);
  background-color: var(--buttonColor);
  border: none;
  padding: 0 var(--containerPadding);
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 1.3rem;
  -webkit-box-shadow: var(--level-1);
          box-shadow: var(--level-1);
  font-weight: 400;
  font-family: var(--bodyFont);
  -webkit-transition: 0.3s ease-in-out box-shadow;
  transition: 0.3s ease-in-out box-shadow;
  -webkit-transition: 0.3s ease-in-out transform;
  transition: 0.3s ease-in-out transform;
  cursor: pointer;
}

button:hover {
  -webkit-box-shadow: var(--level-2);
          box-shadow: var(--level-2);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

button[disabled] {
  opacity: 0.4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */