.wrapper-main{
  display: grid;
  height: 100vh;
  grid-template-columns: 250px auto;
  grid-template-areas: "sidebar main";
}
#mySidebar{
  grid-area: sidebar;
}
.sidebar {
  height: 100%;
  width: 85px;
  width: 250px;
  // position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #42389d;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  padding: 1rem 1rem 1rem 0.8rem;
  text-decoration: none;
  font-size: 25px;
  color: var(--white);
  border-radius: 5px;
  display: block;
  transition: background-color 0.2s ease-in-out;
  margin: 0 1rem;
  .far {
    opacity: 0.6;
    padding-right: 2rem;
  }
}

.sidebar a:hover {
  background-color: #5145cd;
  color: var(--white);
}
.sidebar a:active {
  background-color: #362f78;
  color: var(--white);
}
main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.fal,
.icon-text {
  vertical-align: middle;
}

#main {
  padding: 16px;
  margin-left: 85px;
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.icon-text {
  font-size: 1rem;
}
/*Top Navigation Styling*/
.dashboard-header{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.search-bar{
  display: flex;
  align-items: center;
  input{
    border: none;
  }
  .fa-search{
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }
}
.user-info{
  display: flex;
  align-items: center;
  p{
    margin-right: 1rem;
  }
  .fa-sign-out-alt{
    margin-right: 1rem;
  }
}
.main-thing{
  // background-color: green;
  margin: 1rem 1rem;
}
/*Main styling*/
.work-blocks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr,1fr,1fr)); 
    height: 75vh;
    overflow: auto;
    gap: 2rem;
    grid-template-areas: "box1 box2 box3";
}
/*Media Query*/ 
@media(max-width:768px){
  .work-blocks{
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "box1"
    "box2"
    "box3";
  }
}
@media(max-width:950px){
  .work-blocks{
    grid-auto-columns: repeat(2, 1fr);
  }
}
.box-1{
  background-color: lightblue;
  grid-area: box1;
}

.box-2{
  background-color: lightgreen;
  grid-area: box2;

}
.box-3{
  background-color: lightyellow;
  grid-area: box3;

}

.fa-plus-circle{
  background-color: #1B3FC2;
  padding: 0.3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.main-thing-heading{
  display: flex;
  // padding: 1rem 0;
  // background-color: green;
  align-items: center;
  h4{
    font-weight: 600;
  }
  a{
    display: inline-block;
    margin-left: 2rem;
  }
}
.container-wrapper{
  padding: 1rem 0;
  p{
    color: #000;
    // text-align: center;
    margin: 1rem 0;
    // font-size: 1.3rem;
    line-height: 1.7;
    letter-spacing: 1px;
  }
}
/*Card Styles*/
.card-wrapper{
  background-color: var(--neutralLight);
  background-color: #dde3e6;
  width: 90%;
  border-radius: 10px;
  height: 62vh;
  overflow: scroll;
  padding: 1rem;
}

.card{
  width: 100%;
  margin: 1rem auto;
  margin-top: 0;
  padding: 1rem;
  background-color: var(--white);
  border-radius: 10px;

}
/*Tag colors & Category Styling*/ 
.task-category{
  border-radius: 10px;
  background-color: var(--lightest-blue);
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
}
.task-title{
  font-size: 1.7rem;
  margin: 1rem auto;
}
.task-subtitle{
  font-size: 1.2rem;
}
.task-description{
  font-size:1rem;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
/*CSS FOR MODAL*/
.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(179, 179, 179, 0.5);
  transition: opacity .25s ease;
  backdrop-filter: blur(5px);
  
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: rgb(255, 255, 255);
  
  border-radius: 10px;
  padding: 1em 2em;
  height: 90%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}
