// .wrapper-main{
//     display: grid;
//     grid-template-columns: 0.05fr 0.95fr;
//     height: 100vh;
// }
// section.nav{
//     background-color: lightblue;
// }
// section.nav:hover{
//     width: 120%;
// }
// aside.side-nav{
//     background-color: lightgreen;
//     margin: 0 auto;
//     width: 90%;
//     li{
//         list-style: none;
//         font-size: 2rem;
//     }
//     height: 100%;
// }
// .side-nav-links{
//     height: 100%;

//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-evenly;
// }
.wrapper-main{
  display: grid;
  height: 100vh;
  grid-template-columns: 250px auto;
  grid-template-areas: "sidebar main";
}
#mySidebar{
  grid-area: sidebar;
}
.sidebar {
  height: 100%;
  width: 85px;
  width: 250px;
  // position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #42389d;
  transition: 0.5s;
  overflow-x: hidden;
  padding-top: 60px;
  white-space: nowrap;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  padding: 1rem 1rem 1rem 0.8rem;
  text-decoration: none;
  font-size: 25px;
  color: var(--white);
  border-radius: 5px;
  display: block;
  transition: background-color 0.2s ease-in-out;
  margin: 0 1rem;
  .far {
    opacity: 0.6;
    padding-right: 2rem;
  }
}

.sidebar a:hover {
  background-color: #5145cd;
  color: var(--white);
}
.sidebar a:active {
  background-color: #362f78;
  color: var(--white);
}
main .sidebar {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.fal,
.icon-text {
  vertical-align: middle;
}

#main {
  padding: 16px;
  margin-left: 85px;
  transition: margin-left 0.5s;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.icon-text {
  font-size: 1rem;
}
/*Top Navigation Styling*/
.dashboard-header{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.search-bar{
  display: flex;
  align-items: center;
  input{
    border: none;
  }
  .fa-search{
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }
}
.user-info{
  display: flex;
  align-items: center;
  p{
    margin-right: 1rem;
  }
  .fa-sign-out-alt{
    margin-right: 1rem;
  }
}
.main-thing{
  // background-color: green;
  margin: 2rem 1rem;
}
/*Main styling*/
.work-blocks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr,1fr,1fr)); 
    height: 75vh;
    overflow: auto;
    gap: 2rem;
    grid-template-areas: "box1 box2 box3";
}
/*Media Query*/ 
@media(max-width:768px){
  .work-blocks{
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "box1"
    "box2"
    "box3";
  }
}
@media(max-width:950px){
  .work-blocks{
    grid-auto-columns: repeat(2, 1fr);
  }
}
.box-1{
  background-color: lightblue;
  grid-area: box1;
}

.box-2{
  background-color: lightgreen;
  grid-area: box2;

}
.box-3{
  background-color: lightyellow;
  grid-area: box3;

}


