.section2{
    margin: 5rem auto;
    // background-color: lightblue;
    .right{
        img{
            display: block;
            margin: 0 auto;
            width: 90%;
        }
    }
    .left{
        // background-color: lightgreen;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            // background-color: red;
            font-family: 'Product Sans';
        }
        p{
            text-align: left;
            margin-top: 2rem;
        }
    }
}